{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to Ecommerce Website</p>
            </div>
        </div>
    </header>
    <div class = container>
        <div class = "row">
            <center>
                <div class="col-8">
                    <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nulla eget sapien eget nisl viverra fringilla. Phasellus gravida ullamcorper porttitor.
                        Praesent tristique vel felis eget placerat. Aliquam turpis ipsum, lacinia eget mollis in, blandit eu est.
                        Proin pharetra, quam a commodo luctus, odio felis luctus tellus, eu porttitor lectus tellus vitae turpis.
                        Nulla at aliquam sem, sit amet consequat diam. Phasellus pharetra tellus nec erat vulputate, at iaculis leo sagittis.
                        Phasellus mi est, ullamcorper ac arcu nec, tristique faucibus tellus. <br/><br/>
                        Sed vel augue turpis. Aliquam ligula erat, ornare in gravida a, vehicula in neque.
                        Quisque et euismod ante. Curabitur sed accumsan sem. Vestibulum ornare orci in sem lobortis viverra.
                        Pellentesque lacus enim, pellentesque id euismod aliquam, pellentesque vitae enim.
                        Quisque in imperdiet purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Morbi scelerisque lectus vel ultrices sagittis.<br/><br/>
                        Vestibulum a felis hendrerit, volutpat velit at, cursus eros.
                        Curabitur ullamcorper laoreet pretium. Phasellus laoreet auctor elit nec suscipit.
                        Nam consequat sollicitudin urna, vel rutrum felis tincidunt pretium. Morbi id lacus eu tellus tempus rutrum.
                        Nulla vel risus et eros suscipit molestie. Nullam et tellus eget sapien pulvinar ornare. <br/> <br/>
                        Fusce sagittis, metus id maximus venenatis, lacus leo rhoncus metus, quis sodales nulla velit imperdiet ex.
                        Phasellus bibendum est vitae nunc vulputate porttitor a sit amet enim.
                        Suspendisse tortor elit, laoreet non tellus nec, porttitor suscipit metus.
                        Nam turpis risus, viverra vel porttitor quis, dignissim sagittis dolor. Etiam cursus suscipit nibh, vitae viverra mauris pulvinar in.
                        In hac habitasse platea dictumst.
                    </p>
                </div>
            </center>
        </div>
</div>
{% endblock %}
